<%- include('partials/header') -%>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Categories</h1>
        <p>
          <a href="/feed" class="col-3 btn btn-primary"> CDCDCDCD</a>
          <a href="/feed" class="col-3 btn btn-primary"> DVDVDVD</a>
          <a href="/feed" class="col-3 btn btn-primary"> Go To Feed</a>
          <a href="/feed" class="col-3 btn btn-primary"> Login</a>
          <a href="/feed" class="col-3 btn btn-primary"> Signup</a>
          <a href="/feed" class="col-3 btn btn-primary"> Go To Feed</a>
        </p>
      </div>
    </div>
  </section>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% for(let i=0; i<items.length; i++) {%>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/item/<%= items[i]._id%>">
                <img class="img-fluid img-thumbnail" src="<%= items[i].image%>">
                </a>
                <p class="card-text">Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="/item/<%= items[i]._id%>">View</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
            </div>                
          </div>                           
        <% } %>            
    </div>
  </div>  
<%- include('partials/footer') -%>