<%- include('partials/header') -%>
  <section class="py-5 text-center container">
    <div class="row py-lg-6">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-light">Categories</h1>
        <p>
          <a href="/feed/CD" class="col-2 btn btn-sm btn-info"> CD</a>
          <a href="/feed/DVD" class="col-2 btn btn-sm btn-info"> DVD</a>
          <a href="/feed/VHS" class="col-2 btn btn-sm btn-info"> VHS</a>         
        </p>
        <p>
          <a href="/feed/Book" class="col-2 btn btn-sm btn-info"> Books</a>
          <a href="/feed/Magazine" class="col-2 btn btn-sm btn-info"> Magazine</a>
          <a href="/feed/Other" class="col-2 btn btn-sm btn-info"> Other</a>
        </p>
      </div>
    </div>
  </section>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% for(let i=0; i<items.length; i++) {%>
          <div class="col-md-3">
            <div class="thumbnail">
              <a href="/item/<%= items[i]._id%>">
                <img class="img-fluid img-thumbnail" src="<%= items[i].image%>">
                </a>
                <p class="card-text"><%= items[i].description%></p>                 
            </div>                
          </div>                           
        <% } %>            
    </div>
  </div>  
<%- include('partials/footer') -%>