<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= item.name %></h2>
      <img class="img-fluid" src="<%= item.image%>" />      
    </div>
    <div class="col-6">
      <div class="col-3 mt-5">
        <h5>Description</h5>
        <p><%= item.description %></p>
      </div>
      <div class="col-3 mt-5">
        <h5>Category</h5>
        <p><%= item.category %></p>
      </div>
      <div class="col-3 mt-5">
        <h5>Price :</h5>
        <p><%= item.price %></p>
      </div>      
      <div class="mt-5"> 
        <h5>Add comment</h5>
        <form action="/comment/createComment/<%=item._id%>" method="POST">
          <div class="mb-3">            
            <input type="text" class="form-control" id="comment" name="comment">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <ul>
        <% for(let i=0; i<comments.length; i++) {%>
          <li class="col-4 justify-content-between mt-5">
            User <%= comments[i].createdBy%> says: "<%= comments[i].comment%>"
                <%if(comments[i].createdById==user.id) {%>
                  <form action="/comment/deleteComment/<%= item.id %>/<%= comments[i]._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                  </form>
                  <%}%>
          </li>
          <% } %>
      </ul>
    </div>    
  </div>
  <div class="row justify-content-between align-item-center" style="margin-top: 50px">
    <form class="col-1" action="/item/likeItem/<%= item.id %>?_method=PUT" method="POST">
      <button class="btn btn-primary fa fa-heart" type="submit"></button>
    </form>
    <h4 class="col-2">Likes : <%= item.likes %> </h4>
    
    <%if(item.user==user.id){ %>
      <form action="/item/deleteItem/<%= item.id %>?_method=DELETE" method="POST" class="col-2">
        <button class="btn btn-primary fa fa-trash" type="submit"></button>
      </form>
      <form class="col-1" action="/item/edit/<%= item.id %>">
        <button class="btn btn-primary fa fa-edit" type="submit"></button>
      </form>
      <%}%>
      
      <a class="col-1 btn btn-primary btn-sm" href="/profile">Return to Profile</a>
      <a class="col-1 btn btn-primary btn-sm" href="/feed">All Items</a>
    
  </div>
</div>

<%- include('partials/footer') -%>
